* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: repeating-linear-gradient(0deg,
            #fff 0%,
            #fff 50%,
            #000 50%,
            #000 100%), repeating-linear-gradient(90deg, #aaa 0%, rgb(36, 36, 36) 50%, rgb(70, 70, 70) 50%, #555 100%);
    background-size: 30px 30px;
    background-blend-mode: difference;
    cursor: grab;
}

span{
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    pointer-events: none;
    border-radius: 50%;
    background: url(https://cdn.pixabay.com/photo/2019/04/12/09/23/rose-4121691_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
}